{% extends "public/region-select.html" %}

{% block title %}Select Champions{% endblock %}

{% block champions %}
<div class="jumbotron m-0 py-5"> 
   <div class="div container">
      
      <!--Start Page heading-->
      <div class="col-12">
         <h3 class="heading">Select Champions</h3>
         <div class="heading-underline"></div>
      </div>
      <!--end Page Heading-->
      <form action="{{url_for('game', _anchor='cards')}}" method="POST">
         <div class="row justify-content-center text-center">
            <div class="col-md-9 col-lg-12 col-xl-11">
               <div class="row">
                  <div class="form-check justify-conent-center">

                     {% for card in filtered_champions %}
                        <div class="col-sm-6 col-md-3 p-0 nopad text-center d-inline">
                           <label class="image-checkbox">
                           <p class="p-0 m-0">{{ card['name'] }}</p>
                           <img class="img-responsive" src="../../static/img/small cards/{{ card['cardCode'] }}_resized.jpg" />
                           <input type="checkbox" name="champion_check" value="{{ card['name'] }}" />
                           </label>
                        </div>
                     {% endfor %}
                  </div>
               </div> <!--End row-->
             </div> <!--End col-->
           </div> <!--End row justify content-->

           <div class="col-12 text-center">
            {% if champ_error %}
              <p class="p-3 mb-2 bg-danger text-white">{{champ_error}}</p>
            {% endif %}
            <button class="btn btn-nuno btn-sm">Win the game!</button>
          </div>

</form> <!--End Form-->
</div> <!--End Container-->
</div> <!--End Jumbotron-->
{% endblock %}