{% extends "public/champion-select.html" %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.css" integrity="sha512-SZgE3m1he0aEF3tIxxnz/3mXu/u/wlMNxQSnE0Cni9j/O8Gs+TjM9tm1NX34nRQ7GiLwUEzwuE3Wv2FLz2667w==" crossorigin="anonymous" />
{% endblock %}
{% block title %}Win the game{% endblock %}



{% block cards %}
<div class="jumbotron m-0 py-5">
   <div class="div container-fluid">      
      <div class="row row-first">
         <div class="col p-0 nopad text-center d-inline">
            <form action="{{url_for('game_update', _anchor='cards')}}" method="POST">
               <p>
                  <b class="m-3">Mana</b><input id="mana" name = "mana" data-slider-id="mana_slider" type="text" data-slider-value="{{mana}}"/>
               </p>
               <p>
                  <b class="m-3">Spell Mana</b><input id="spell_mana" name = "spell_mana" data-slider-id="mana_slider" type="text" data-slider-value="{{spell_mana}}"/>
               </p>
               <button class="btn btn-nuno btn-sm">Update</button>
            </form> <!-- End form-->
         </div> <!-- End form column-->
         <div class="col">
            <h5 class="text-nuno">Units</h5>
            <div class="row">
               <div class="col-6"><strong>Cards</strong></div>
               <div class="col-3"><strong>Deck Probability</strong></div>
               <div class="col-3"><strong>Draw %</strong></div>
            </div>
            <div class="row">
               {% for unit in units %}
                  <div class="col-6">
                     <img class="img-responsive p-2" src="../static/img/small cards/{{ unit['cardCode'] }}_resized.jpg" />
                  </div>
                  <div class="col-3">
                     <p>{{ unit['deck_chance'] }}</p>
                  </div>
                  <div class="col-3">
                     <p>N/A %</p>
                  </div>
               {% endfor %}
            </div>
         </div> <!-- End Units column-->
         <div class="col">
            <h5 class="text-nuno">Fast+ Spells</h5>
            <div class="row">
               <div class="col-6"><strong>Cards</strong></div>
               <div class="col-3"><strong>Deck Probability</strong></div>
               <div class="col-3"><strong>Draw %</strong></div>
            </div>
            <div class="row">
               {% for unit in fast_spells %}
                  <div class="col-6">
                     <img class="img-responsive p-2" src="../static/img/small cards/{{ unit['cardCode'] }}_resized.jpg" />
                  </div>
                  <div class="col-3">
                     <p>{{ unit['deck_chance'] }}</p>
                  </div>
                  <div class="col-3">
                     <p>N/A %</p>
                  </div>
               {% endfor %}
            </div>
         </div> <!-- End Fast Spells column-->

         <div class="col">
            <h5 class="text-nuno">Slow Spells</h5>
            <div class="row">
               <div class="col-6"><strong>Cards</strong></div>
               <div class="col-3"><strong>Deck Probability</strong></div>
               <div class="col-3"><strong>Draw %</strong></div>
            </div>
            <div class="row">
               {% for unit in slow_spells %}
                  <div class="col-6">
                     <img class="img-responsive p-2" src="../static/img/small cards/{{ unit['cardCode'] }}_resized.jpg" />
                  </div>
                  <div class="col-3">
                     <p>{{ unit['deck_chance'] }}</p>
                  </div>
                  <div class="col-3">
                     <p>N/A %</p>
                  </div>
               {% endfor %}
            </div>
         </div> <!-- End Slow Spells column-->

      </div> <!-- End 1st row-->
      
   </div> <!-- End contianer-->
</div><!--End Jumbotron-->
<h3 class='text-white'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat voluptate sunt omnis sint? Cumque quisquam debitis doloremque asperiores quis iure aut repellendus amet, accusantium sequi velit nostrum ad numquam veniam?lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eaque minus incidunt quod error. Dignissimos nihil excepturi, mollitia voluptatum ipsa, voluptates labore cupiditate ad officiis officia quae unde voluptatibus magnam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui amet nihil reiciendis possimus atque accusamus quaerat assumenda alias minus. Voluptas illo molestias consequatur, a deserunt veritatis! Ullam soluta dolor reprehenderit!
</h3>
<h3 class='text-white'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat voluptate sunt omnis sint? Cumque quisquam debitis doloremque asperiores quis iure aut repellendus amet, accusantium sequi velit nostrum ad numquam veniam?lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eaque minus incidunt quod error. Dignissimos nihil excepturi, mollitia voluptatum ipsa, voluptates labore cupiditate ad officiis officia quae unde voluptatibus magnam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui amet nihil reiciendis possimus atque accusamus quaerat assumenda alias minus. Voluptas illo molestias consequatur, a deserunt veritatis! Ullam soluta dolor reprehenderit!
</h3>
<h3 class='text-white'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat voluptate sunt omnis sint? Cumque quisquam debitis doloremque asperiores quis iure aut repellendus amet, accusantium sequi velit nostrum ad numquam veniam?lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eaque minus incidunt quod error. Dignissimos nihil excepturi, mollitia voluptatum ipsa, voluptates labore cupiditate ad officiis officia quae unde voluptatibus magnam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui amet nihil reiciendis possimus atque accusamus quaerat assumenda alias minus. Voluptas illo molestias consequatur, a deserunt veritatis! Ullam soluta dolor reprehenderit!
</h3>
<h3 class='text-white'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat voluptate sunt omnis sint? Cumque quisquam debitis doloremque asperiores quis iure aut repellendus amet, accusantium sequi velit nostrum ad numquam veniam?lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eaque minus incidunt quod error. Dignissimos nihil excepturi, mollitia voluptatum ipsa, voluptates labore cupiditate ad officiis officia quae unde voluptatibus magnam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui amet nihil reiciendis possimus atque accusamus quaerat assumenda alias minus. Voluptas illo molestias consequatur, a deserunt veritatis! Ullam soluta dolor reprehenderit!
</h3>
<h3 class='text-white'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat voluptate sunt omnis sint? Cumque quisquam debitis doloremque asperiores quis iure aut repellendus amet, accusantium sequi velit nostrum ad numquam veniam?lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eaque minus incidunt quod error. Dignissimos nihil excepturi, mollitia voluptatum ipsa, voluptates labore cupiditate ad officiis officia quae unde voluptatibus magnam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui amet nihil reiciendis possimus atque accusamus quaerat assumenda alias minus. Voluptas illo molestias consequatur, a deserunt veritatis! Ullam soluta dolor reprehenderit!
</h3>
<h3 class='text-white'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat voluptate sunt omnis sint? Cumque quisquam debitis doloremque asperiores quis iure aut repellendus amet, accusantium sequi velit nostrum ad numquam veniam?lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eaque minus incidunt quod error. Dignissimos nihil excepturi, mollitia voluptatum ipsa, voluptates labore cupiditate ad officiis officia quae unde voluptatibus magnam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui amet nihil reiciendis possimus atque accusamus quaerat assumenda alias minus. Voluptas illo molestias consequatur, a deserunt veritatis! Ullam soluta dolor reprehenderit!
</h3>
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js" integrity="sha512-f0VlzJbcEB6KiW8ZVtL+5HWPDyW1+nJEjguZ5IVnSQkvZbwBt2RfCBY0CBO1PsMAqxxrG4Di6TfsCPP3ZRwKpA==" crossorigin="anonymous"></script>
<script>
$("#mana").slider({
   ticks: [0,1,2,3,4,5,6,7,8,9,10],
   ticks_labels: ["0", "1", "2", "3", "4", "5","6","7","8","9","10"],
   ticks_snap_bounds: 1,
   min: 0,
   max: 10,
   step: 1,
   handle: "square"
});
$("#spell_mana").slider({
   ticks: [0,1,2,3],
   ticks_labels: ["0", "1", "2", "3"],
   ticks_snap_bounds: 1,
   min: 0,
   max: 3,
   step: 1,
   handle: "square"
});
</script>
{% endblock %}