{% extends "public/champion-select.html" %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.css" integrity="sha512-SZgE3m1he0aEF3tIxxnz/3mXu/u/wlMNxQSnE0Cni9j/O8Gs+TjM9tm1NX34nRQ7GiLwUEzwuE3Wv2FLz2667w==" crossorigin="anonymous" />
{% endblock %}
{% block title %}Win LoR Games{% endblock %}



{% block cards %}
{% if deck_count %}
<div class="p-2 mb-0 bg-dark text-white">{{ deck_count }} potential decks found. Displaying combined stats below:</div>
{% endif %}
<div class="jumbotron m-0 py-5">
   <div class="div container-fluid">
      <div class="row row-first">

         <div class="d-flex flex-column p-0 nopad text-center">
            <form action="{{url_for('game_update', _anchor='cards')}}" method="POST">
               <div class="d-flex flex-row justify-content-center">
                  <div class="d-flex flex-column">
                     <b class="m-3">Mana</b>
                     <div><input id="mana" name = "mana" data-slider-id="mana_slider" type="text" data-slider-value="{{mana}}"/></div>
                  </div>
                  <div class="d-flex flex-column">
                     <b class="m-3">Spell Mana</b>
                     <div><input id="spell_mana" name = "spell_mana" data-slider-id="mana_slider" type="text" data-slider-value="{{spell_mana}}"/></div>
                  </div>
                  <div class="d-flex flex-column">
                     <b class="m-3">Round</b>
                     <div><input id="round_n" name = "round_n" data-slider-id="mana_slider" type="text" data-slider-value="{{round_n}}"/></div>
                  </div>
               </div>

               <div class="d-flex flex-row justify-content-center py-5">
                  <button class="btn btn-nuno btn-sm">Update</button>
               </div>
               
            </form> <!-- End form-->
         </div> <!-- End form column-->

         <div class="d-flex flex-column p-1">
            <h5 class="text-nuno align-self-center">Units</h5>

            {% for unit in units %}
            <div class="d-flex flex-row test-row">
               <div class="d-flex test_box">
                  <div class="d-flex test_card" style="background: linear-gradient(90deg, #c49250 30%, rgba(90, 184, 218, 0) 70%) repeat scroll 0% 0%, rgba(0, 0, 0, 0) url('/static/img/small cards/{{ unit['cardCode'] }}_resized.jpg') no-repeat scroll right center;">
                     <div class="d-flex my-0 mx-1 mana_cicrle"><strong>{{ unit['cost'] }}</strong></div>
                     <p class="align-self-center m-0">{{ unit['name'] }}<br>{{ unit['chance_string'] }}</p>
                     <div class="container-test test-responsive">
                        <div class="row justify-content-start">
                           <div class="col">
                              <img src="../static/img/full cards/{{ unit['cardCode'] }}_full.jpg" />
                           </div>
                           <div class="col detail_stats">
                              <ul class="">
                                 <li>Deck Probability: {{ unit['deck_chance_string'] }}</li>
                                 <li>Expected Copies: {{ unit['weighted_cards_string'] }}</li>
                                 <li>Probability 0 drawn: {{ unit['chance_string_0'] }}</li>
                                 <li>Probability 1 drawn: {{ unit['chance_string_1'] }}</li>
                                 <li>Probability 2 drawn: {{ unit['chance_string_2'] }}</li>
                                 <li>Probability 3 drawn: {{ unit['chance_string_3'] }}</li>
                               </ul>
                           </div>
                        </div>
                     </div>
                  </div> <!--End Card-->
               </div> <!--End Box-->
            </div>
            {% endfor %}
         </div> <!-- End Units column-->
         <div class="d-flex flex-column p-1">
            <h5 class="text-nuno align-self-center">Fast+ Spells</h5>


            {% for unit in fast_spells %}
            <div class="d-flex flex-row test-row">
               <div class="d-flex test_box">
                  <div class="d-flex test_card" style="background: linear-gradient(90deg, #c49250 30%, rgba(90, 184, 218, 0) 70%) repeat scroll 0% 0%, rgba(0, 0, 0, 0) url('/static/img/small cards/{{ unit['cardCode'] }}_resized.jpg') no-repeat scroll right center;">
                     <div class="d-flex my-0 mx-1 mana_cicrle"><strong>{{ unit['cost'] }}</strong></div>
                     <p class="align-self-center m-0">{{ unit['name'] }}<br>{{ unit['chance_string'] }}</p>
                     <div class="container-test test-responsive">
                        <div class="row justify-content-start">
                           <div class="col">
                              <img src="../static/img/full cards/{{ unit['cardCode'] }}_full.jpg" />
                           </div>
                           <div class="col detail_stats">
                              <ul class="">
                                 <li>Deck Probability: {{ unit['deck_chance_string'] }}</li>
                                 <li>Expected Copies: {{ unit['weighted_cards_string'] }}</li>
                                 <li>Probability 0 drawn: {{ unit['chance_string_0'] }}</li>
                                 <li>Probability 1 drawn: {{ unit['chance_string_1'] }}</li>
                                 <li>Probability 2 drawn: {{ unit['chance_string_2'] }}</li>
                                 <li>Probability 3 drawn: {{ unit['chance_string_3'] }}</li>
                               </ul>
                           </div>
                        </div>
                     </div>
                  </div> <!--End Card-->
               </div> <!--End Box-->
            </div>
            {% endfor %}
         </div> <!-- End Fast Spells column-->

         <div class="d-flex flex-column p-1">
            <h5 class="text-nuno align-self-center">Slow Spells</h5>

            {% for unit in slow_spells %}
            <div class="d-flex flex-row test-row">
               <div class="d-flex test_box">
                  <div class="d-flex test_card" style="background: linear-gradient(90deg, #c49250 30%, rgba(90, 184, 218, 0) 70%) repeat scroll 0% 0%, rgba(0, 0, 0, 0) url('/static/img/small cards/{{ unit['cardCode'] }}_resized.jpg') no-repeat scroll right center;">
                     <div class="d-flex my-0 mx-1 mana_cicrle"><strong>{{ unit['cost'] }}</strong></div>
                     <p class="align-self-center m-0">{{ unit['name'] }}<br>{{ unit['chance_string'] }}</p>
                     <div class="container-test test-responsive">
                        <div class="row justify-content-start">
                           <div class="col">
                              <img src="../static/img/full cards/{{ unit['cardCode'] }}_full.jpg" />
                           </div>
                           <div class="col detail_stats">
                              <ul class="">
                                 <li>Deck Probability: {{ unit['deck_chance_string'] }}</li>
                                 <li>Expected Copies: {{ unit['weighted_cards_string'] }}</li>
                                 <li>Probability 0 drawn: {{ unit['chance_string_0'] }}</li>
                                 <li>Probability 1 drawn: {{ unit['chance_string_1'] }}</li>
                                 <li>Probability 2 drawn: {{ unit['chance_string_2'] }}</li>
                                 <li>Probability 3 drawn: {{ unit['chance_string_3'] }}</li>
                               </ul>
                           </div>
                        </div>
                     </div>
                  </div> <!--End Card-->
               </div> <!--End Box-->
            </div>
            {% endfor %}
         </div> <!-- End Slow Spells column-->

      </div> <!-- End 1st row-->
      
   </div> <!-- End contianer-->
</div><!--End Jumbotron-->
<h3 class='text-white'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat voluptate sunt omnis sint? Cumque quisquam debitis doloremque asperiores quis iure aut repellendus amet, accusantium sequi velit nostrum ad numquam veniam?lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eaque minus incidunt quod error. Dignissimos nihil excepturi, mollitia voluptatum ipsa, voluptates labore cupiditate ad officiis officia quae unde voluptatibus magnam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui amet nihil reiciendis possimus atque accusamus quaerat assumenda alias minus. Voluptas illo molestias consequatur, a deserunt veritatis! Ullam soluta dolor reprehenderit!
</h3>
<h3 class='text-white'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat voluptate sunt omnis sint? Cumque quisquam debitis doloremque asperiores quis iure aut repellendus amet, accusantium sequi velit nostrum ad numquam veniam?lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eaque minus incidunt quod error. Dignissimos nihil excepturi, mollitia voluptatum ipsa, voluptates labore cupiditate ad officiis officia quae unde voluptatibus magnam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui amet nihil reiciendis possimus atque accusamus quaerat assumenda alias minus. Voluptas illo molestias consequatur, a deserunt veritatis! Ullam soluta dolor reprehenderit!
</h3>
<h3 class='text-white'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat voluptate sunt omnis sint? Cumque quisquam debitis doloremque asperiores quis iure aut repellendus amet, accusantium sequi velit nostrum ad numquam veniam?lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eaque minus incidunt quod error. Dignissimos nihil excepturi, mollitia voluptatum ipsa, voluptates labore cupiditate ad officiis officia quae unde voluptatibus magnam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui amet nihil reiciendis possimus atque accusamus quaerat assumenda alias minus. Voluptas illo molestias consequatur, a deserunt veritatis! Ullam soluta dolor reprehenderit!
</h3>
<h3 class='text-white'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat voluptate sunt omnis sint? Cumque quisquam debitis doloremque asperiores quis iure aut repellendus amet, accusantium sequi velit nostrum ad numquam veniam?lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eaque minus incidunt quod error. Dignissimos nihil excepturi, mollitia voluptatum ipsa, voluptates labore cupiditate ad officiis officia quae unde voluptatibus magnam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui amet nihil reiciendis possimus atque accusamus quaerat assumenda alias minus. Voluptas illo molestias consequatur, a deserunt veritatis! Ullam soluta dolor reprehenderit!
</h3>
<h3 class='text-white'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat voluptate sunt omnis sint? Cumque quisquam debitis doloremque asperiores quis iure aut repellendus amet, accusantium sequi velit nostrum ad numquam veniam?lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eaque minus incidunt quod error. Dignissimos nihil excepturi, mollitia voluptatum ipsa, voluptates labore cupiditate ad officiis officia quae unde voluptatibus magnam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui amet nihil reiciendis possimus atque accusamus quaerat assumenda alias minus. Voluptas illo molestias consequatur, a deserunt veritatis! Ullam soluta dolor reprehenderit!
</h3>
<h3 class='text-white'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat voluptate sunt omnis sint? Cumque quisquam debitis doloremque asperiores quis iure aut repellendus amet, accusantium sequi velit nostrum ad numquam veniam?lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eaque minus incidunt quod error. Dignissimos nihil excepturi, mollitia voluptatum ipsa, voluptates labore cupiditate ad officiis officia quae unde voluptatibus magnam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui amet nihil reiciendis possimus atque accusamus quaerat assumenda alias minus. Voluptas illo molestias consequatur, a deserunt veritatis! Ullam soluta dolor reprehenderit!
</h3>
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js" integrity="sha512-f0VlzJbcEB6KiW8ZVtL+5HWPDyW1+nJEjguZ5IVnSQkvZbwBt2RfCBY0CBO1PsMAqxxrG4Di6TfsCPP3ZRwKpA==" crossorigin="anonymous"></script>
<script>
$("#mana").slider({
   ticks: [0,1,2,3,4,5,6,7,8,9,10],
   ticks_labels: ["0", "1", "2", "3", "4", "5","6","7","8","9","10"],
   ticks_snap_bounds: 1,
   min: 0,
   max: 10,
   step: 1,
   handle: "square",
   orientation: 'vertical'
});
$("#spell_mana").slider({
   ticks: [0,1,2,3],
   ticks_labels: ["0", "1", "2", "3"],
   ticks_snap_bounds: 1,
   min: 0,
   max: 3,
   step: 1,
   handle: "square",
   orientation: 'vertical'
});
$("#round_n").slider({
   ticks: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15],
   ticks_labels: ["1", "2", "3", "4", "5","6","7","8","9","10" ,"11", "12", "13", "14", '15'],
   ticks_snap_bounds: 1,
   min: 1,
   max: 15,
   step: 1,
   handle: "square",
   orientation: 'vertical'
});
</script>
{% endblock %}