{% extends "public/templates/public_template.html" %}

{% block title %}About{% endblock %}

{% block regions %}
		<!-- Start of BG Image Dark-->
		<div class="fixed">

			<div class="row dark text-light text-center justify-content-center">
				<div class="col-12 os-animation" data-animation="animate__animated animate__fadeInUp">
					<h3 class="heading">Welcome to LoR NetdeckKiller</h3>
					<div class="heading-underline"></div>
				</div>

				<div class="col-md-4 os-animation" data-animation="animate__animated animate__fadeInLeft">
					<h3>1 - Select Regions</h3>
					<div class="feature py-2">
						<span class="fa-layers fa-3x">
							<i class="fas fa-globe-europe"></i>
						</span>
					</div>
					<p class="lead">Select regions of your opponent's deck.</p>
				</div>

				<div class="col-md-4 os-animation" data-animation="animate__animated animate__fadeInUp">
					<h3>2 - Select Champions</h3>
					<div class="feature py-2">
						<span class="fa-layers fa-3x">
							<i class="fas fa-snowman"></i>
						</span>
					</div>
					<p class="lead">Select their champions</p>
				</div>

				<div class="col-md-4 os-animation" data-animation="animate__animated animate__fadeInRight">
					<h3>3 - Win!</h3>
					<div class="feature py-2">
						<span class="fa-layers fa-3x">
							<i class="fas fa-trophy"></i>
						</span>
					</div>
					<p class="lead">Know their possible cards and be a step ahead!</p>
				</div>
				<a href="#regions" class="btn btn-nuno btn-sm">Let's Go!</a>
			</div> <!-- End Row Dark-->
			<div class="fixed-wrap">
				<div class="fixed-dark">

				</div>
			</div>
		</div>
		<!-- End of BG Image Dark-->

{% endblock %}